<h1>Hell Yes! Excited to see you on Dec. 11th.</h1>
<h3>Please take your time filling out the form.  Once completed you will be unable to edit and or delete any information. If you need to edit any information please contact Joe or Chad.</h3>

<%= render 'form' %>

<%= link_to 'Back', signups_path %>
