// Place all the styles related to the signups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picture{
  position: relative;
  background-image: image-url("header.jpg");
  height: 550px;
  width: 100%;

  img {
    height:400px;
    max-width: 50%;
    position: relative;
    top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

h3{
  font-family: "Amatic SC";
}

// welcome
#welcome {
  font-family: 'source sans pro';

  h1{
    font-family: 'amatic sc';
    color:#323434;
    font-size: 40px;
    text-align: center;
  }
  img {
  position: relative;
  left: 100px;
  }
  hr {
    border-top:2px solid #323434;
  }
}

// Route
#route {
  font-family: 'source sans pro';
  text-align: center;

  h1{
    font-family: 'amatic sc';
    color:#323434;
    font-size: 40px;
  }


  hr {
    border-top:2px solid #323434;
  }
}

// safety
#safety {
  font-family: 'source sans pro';

  h1{
    font-family: 'amatic sc';
    color:#323434;
    font-size: 40px;
    text-align: center;

  }

  h3{
    text-align: center;
  }

  h4{
    text-align: center;
  }

  hr {
    border-top:2px solid #323434;
  }
}

// new/edit
#newedit {
  font-family: 'source sans pro';

  h1{
    font-family: 'amatic sc';
    color:#323434;
    font-size: 40px;
    text-align: center;
  }

  hr {
    border-top:2px solid #323434;
  }
}

// contact

// new/edit
#contact {
  font-family: 'source sans pro';
  text-align: center;

  h1 {
    font-family: 'amatic sc';
    color:#323434;
    font-size: 40px;
  }
  h3 {
    font-family: 'amatic sc';
    color:#323434;
  }
  hr {
    border-top:2px solid #323434;
  }
}
